<!DOCTYPE html>
<html>
  <head>
  <meta charset='utf-8'>
  <title>Madlib Select</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/styles.css" type="text/css">
  </head>
  <body>

  @if(@Model.Random == 1)
  {
    <h1>Fill out the form to create a unique story about Denmark.</h1>
    <form action="/madlibgame" method="post">
      <label for="noun" class="form-label">Enter a noun.</label>
      <input type="text" name="noun" id="noun" class="form-control">
      <label for="adjective" class="form-label">Enter an adjective.</label>
      <input type="text" name="adjective" id="adjective" class="form-control">
      <label for="exclamation" class="form-label">Enter an exclamation.</label>
      <input type="text" name="exclamation" id="exclamation" class="form-control">
      <label for="verb" class="form-label">Enter a verb.</label>
      <input type="text" name="verb" id="verb" class="form-control">
      <button type="submit">Submit</button>
    </form>
  }
  else if (@Model.Random == 2)
  {
    <h1>Something about Uzbekistan.</h1>
    <form action="/madlibgametwo" method="post">
      <label for="noun" class="form-label">Enter a noun.</label>
      <input type="text" name="noun" id="noun" class="form-control">
      <label for="nounTwo" class="form-label">Enter another noun.</label>
      <input type="text" name="nounTwo" id="nounTwo" class="form-control">
      <label for="adjective" class="form-label">Enter an adjective.</label>
      <input type="text" name="adjective" id="adjective" class="form-control">
      <label for="exclamation" class="form-label">Enter an exclamation.</label>
      <input type="text" name="exclamation" id="exclamation" class="form-control">
      <label for="verb" class="form-label">Enter a verb.</label>
      <input type="text" name="verb" id="verb" class="form-control">
      <label for="verbTwo" class="form-label">Enter another verb.</label>
      <input type="text" name="verbTwo" id="verbTwo" class="form-control">
      <label for="verbThree" class="form-label">Enter a third verb.</label>
      <input type="text" name="verbThree" id="verbThree" class="form-control">
      <button type="submit">Submit</button>
    </form>
  }
  else if (@Model.Random == 3)
  {
    <h1>Something about Space.</h1>
    <form action="/madlibgamethree" method="post">
      <label for="noun" class="form-label">Enter a noun.</label>
      <input type="text" name="noun" id="noun" class="form-control">
      <label for="nounTwo" class="form-label">Enter another noun.</label>
      <input type="text" name="nounTwo" id="nounTwo" class="form-control">
      <label for="adjective" class="form-label">Enter an adjective.</label>
      <input type="text" name="adjective" id="adjective" class="form-control">
      <label for="adjectiveTwo" class="form-label">Enter an adjective.</label>
      <input type="text" name="adjectiveTwo" id="adjectiveTwo" class="form-control">
      <label for="exclamation" class="form-label">Enter an exclamation.</label>
      <input type="text" name="exclamation" id="exclamation" class="form-control">
      <label for="exclamationTwo" class="form-label">Enter an exclamation.</label>
      <input type="text" name="exclamationTwo" id="exclamationTwo" class="form-control">
      <label for="verb" class="form-label">Enter a verb.</label>
      <input type="text" name="verb" id="verb" class="form-control">
      <label for="verbTwo" class="form-label">Enter another verb.</label>
      <input type="text" name="verbTwo" id="verbTwo" class="form-control">
      <label for="verbThree" class="form-label">Enter a third verb.</label>
      <input type="text" name="verbThree" id="verbThree" class="form-control">
      <button type="submit">Submit</button>
    </form>
  }

  </body>
<html>